/freecad-0.13.1830.tar.gz

# ignore fedpkg build artifacts
/freecad-0.*.src.rpm
/freecad-0.14.3702.tar.gz
/freecad_0.15.4671.tar.gz
/freecad-0.16-pre.tar.gz
/freecad-0.16.tar.gz
/FreeCAD-0.17_pre.tar.gz
/FreeCAD-0.17.tar.gz
/FreeCAD-0.18.tar.gz
/FreeCAD-0.18.2.tar.gz
/FreeCAD-0.18.3.tar.gz
